.container {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    margin-left: 5px;
}

.container h1,h2 {
    text-align: center;
    border-bottom: 1px solid brown;
}

.container h1:hover,
h2:hover {
    cursor: pointer;
    color: brown;
}

.countries {
    display: flex;
    justify-content: center;
}

.countries:hover {
    cursor: pointer;
    color: brown;
}

.countries a {
    color: white;
}

.countries a:hover {
    color: brown;
}